{
  "openapi": "3.0.3",
  "info": {
    "title": "Run402 API",
    "version": "2.0.0",
    "description": "Full-stack infrastructure for AI agents. Postgres, REST API, auth, file storage, static site hosting, serverless functions. Pay-per-tier via x402 USDC on Base — subscribe once, then use wallet signatures for all operations within your tier.",
    "contact": {
      "name": "Run402",
      "url": "https://run402.com"
    },
    "guidance": "Run402 is a pay-per-use backend for AI agents: Postgres databases, static hosting, serverless functions, and image generation. All payments use x402 USDC micropayments on Base.\n\n## Quick start\n1. Install the CLI: npm install -g run402\n2. Create an allowance: run402 init\n3. Subscribe to prototype tier (FREE, testnet USDC): run402 tier set prototype\n4. Provision a project: run402 projects provision --name \"my-app\"\n5. Deploy: run402 deploy --manifest app.json\n\n## Payment model\n- Tier subscriptions (prototype $0.10 testnet, hobby $5, team $20) unlock all platform features.\n- Image generation is $0.03 per call (x402 micropayment).\n- Auth-only endpoints (projects, deploys, messages) require SIWX wallet identity but no payment.\n\n## Auth\n- x402 endpoints: include a payment header (handled automatically by the CLI or x402 client libraries).\n- SIWX endpoints: sign a CAIP-122 message with your wallet.\n- REST API: use the project's anon_key or service_key as the apikey header.\n\n## Docs\n- Full CLI docs: https://run402.com/llms-cli.txt\n- API docs: https://run402.com/llms.txt"
  },
  "servers": [
    {
      "url": "https://api.run402.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Tiers",
      "description": "Wallet-level tier subscription — subscribe, renew, upgrade, and check status"
    },
    {
      "name": "Projects",
      "description": "Provision and manage database projects (wallet auth, free within tier)"
    },
    {
      "name": "Auth",
      "description": "User signup, login, token refresh, and logout"
    },
    {
      "name": "Admin",
      "description": "SQL migrations, RLS policies, usage, and schema introspection"
    },
    {
      "name": "REST",
      "description": "PostgREST proxy — full CRUD on your tables"
    },
    {
      "name": "Storage",
      "description": "Upload, download, delete, sign, and list files"
    },
    {
      "name": "Faucet",
      "description": "Testnet USDC drip for development"
    },
    {
      "name": "Deployments",
      "description": "Static site deployment (wallet auth, free within tier)"
    },
    {
      "name": "Message",
      "description": "Feedback / contact endpoint (wallet auth, free within tier)"
    },
    {
      "name": "Subdomains",
      "description": "Custom subdomain management for deployments"
    },
    {
      "name": "Functions",
      "description": "Serverless function deploy, invoke, logs, and secrets"
    },
    {
      "name": "Health",
      "description": "Health check and x402 discovery"
    },
    {
      "name": "Billing",
      "description": "Prepaid allowance accounts and checkout"
    },
    {
      "name": "Bundle",
      "description": "One-call full-stack app deployment (wallet auth, free within tier)"
    },
    {
      "name": "Publish",
      "description": "Publish and fork app versions"
    },
    {
      "name": "Image",
      "description": "AI image generation (x402-gated, per-call)"
    },
    {
      "name": "Agent",
      "description": "Agent contact registration (wallet auth, free within tier)"
    },
    {
      "name": "Mailboxes",
      "description": "Project-scoped email at slug@mail.run402.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "checks": {
                      "type": "object",
                      "properties": {
                        "postgres": {
                          "type": "string"
                        },
                        "postgrest": {
                          "type": "string"
                        }
                      }
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ping/v1": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Authenticated ping (wallet auth)",
        "operationId": "ping",
        "description": "Health probe that verifies wallet auth is working. Free within tier.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Ping accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "paid": {
                      "type": "boolean",
                      "example": true
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "x402 resource discovery",
        "operationId": "x402Discovery",
        "description": "Lists all x402-gated resources and their prices for automated discovery.",
        "responses": {
          "200": {
            "description": "x402 resource list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string"
                          },
                          "network": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tiers/v1": {
      "get": {
        "tags": [
          "Tiers"
        ],
        "summary": "List tier pricing",
        "operationId": "listTiers",
        "description": "Returns available tiers, pricing, and resource limits. No auth required. Useful for programmatic price discovery before subscribing.",
        "responses": {
          "200": {
            "description": "Tier pricing and auth info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tiers": {
                      "$ref": "#/components/schemas/TierPricing"
                    },
                    "auth": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "example": "EIP-4361 wallet signature"
                        },
                        "headers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": ["X-Run402-Wallet", "X-Run402-Signature", "X-Run402-Timestamp"]
                        },
                        "message_format": {
                          "type": "string",
                          "example": "run402:{unix_timestamp}"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tiers/v1/{tier}": {
      "post": {
        "tags": [
          "Tiers"
        ],
        "summary": "Subscribe, renew, or upgrade tier",
        "operationId": "setTier",
        "description": "Unified tier endpoint. Auto-detects the action: subscribe (no tier or expired), renew (same tier, active), or upgrade (higher tier). Response includes an `action` field indicating what happened. Downgrading during an active lease is rejected.",
        "x-payment-info": {
          "protocols": ["x402"],
          "pricingMode": "range",
          "minPrice": "$0.10",
          "maxPrice": "$20.00"
        },
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "tier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "prototype",
                "hobby",
                "team"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Tier subscribed (new subscription)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierSubscription"
                }
              }
            }
          },
          "200": {
            "description": "Tier renewed or upgraded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Cannot downgrade during active lease"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/tiers/v1/status": {
      "get": {
        "tags": [
          "Tiers"
        ],
        "summary": "Get wallet tier status",
        "operationId": "getTierStatus",
        "description": "Returns the wallet's current tier, lease expiry, and resource pool usage. Requires wallet auth.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet tier status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "string"
                    },
                    "tier": {
                      "type": "string"
                    },
                    "lease_expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "pool": {
                      "type": "object",
                      "properties": {
                        "storage_bytes": {
                          "type": "integer"
                        },
                        "storage_used_bytes": {
                          "type": "integer"
                        },
                        "api_calls": {
                          "type": "integer"
                        },
                        "api_calls_used": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects",
        "operationId": "listProjects",
        "description": "List projects. Wallet auth sees own projects; admin auth (ADMIN_KEY or admin wallet SIWx) sees all projects. Supports cursor-based pagination.",
        "security": [
          {
            "walletAuth": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            },
            "description": "Maximum number of projects to return (default 50, max 200)"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination (from previous response's next_cursor)"
          }
        ],
        "responses": {
          "200": {
            "description": "Project list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectCreated"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Provision a new project",
        "operationId": "createProject",
        "description": "Creates a new database project. Requires wallet auth (EIP-4361 signature). Free within your active tier. The wallet must have an active tier subscription.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Optional project name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCreated"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/quote": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Quote tier pricing",
        "operationId": "quoteTiers",
        "description": "Same as GET /projects/v1 — returns tier pricing info.",
        "responses": {
          "200": {
            "description": "Tier pricing info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tiers": {
                      "$ref": "#/components/schemas/TierPricing"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/v1/{id}": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Archive (soft-delete) a project",
        "operationId": "deleteProject",
        "description": "Archives and soft-deletes a project. Accepts service_key or admin auth (ADMIN_KEY or admin wallet SIWx).",
        "security": [
          {
            "serviceKey": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project archived",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "archived"
                    },
                    "project_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create a new user",
        "operationId": "signup",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login or refresh token",
        "operationId": "getToken",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "email",
                      "password"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string"
                      }
                    },
                    "title": "Password login"
                  },
                  {
                    "type": "object",
                    "required": [
                      "refresh_token",
                      "grant_type"
                    ],
                    "properties": {
                      "refresh_token": {
                        "type": "string"
                      },
                      "grant_type": {
                        "type": "string",
                        "enum": [
                          "refresh_token"
                        ]
                      }
                    },
                    "title": "Token refresh"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 3600
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/user": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user",
        "operationId": "getUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout / invalidate refresh token",
        "operationId": "logout",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/providers": {
      "get": {
        "tags": ["Auth"],
        "summary": "List available auth providers",
        "operationId": "getAuthProviders",
        "description": "Returns available authentication providers for the project (password + OAuth).",
        "security": [{ "apikey": [] }],
        "responses": {
          "200": {
            "description": "Provider list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "password": {
                      "type": "object",
                      "properties": {
                        "enabled": { "type": "boolean", "example": true }
                      }
                    },
                    "oauth": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "provider": { "type": "string", "example": "google" },
                          "enabled": { "type": "boolean", "example": true },
                          "display_name": { "type": "string", "example": "Google" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/oauth/google/start": {
      "post": {
        "tags": ["Auth"],
        "summary": "Start Google OAuth flow",
        "operationId": "startGoogleOAuth",
        "description": "Initiates Google OAuth for app end-users. Returns an authorization_url to open in a popup or redirect. After Google auth, the callback delivers a one-time code to your redirect_url, which you exchange via POST /auth/v1/token?grant_type=authorization_code.",
        "security": [{ "apikey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["redirect_url"],
                "properties": {
                  "redirect_url": { "type": "string", "description": "Where to send the auth code after Google login. Must be http://localhost:* or a claimed subdomain (https://{name}.run402.com)." },
                  "mode": { "type": "string", "enum": ["redirect", "popup"], "default": "redirect", "description": "Redirect mode (default) navigates the full page. Popup mode opens a window but window.close() may be blocked by browser COOP policies." },
                  "intent": { "type": "string", "enum": ["signin", "link"], "default": "signin" },
                  "code_challenge": { "type": "string", "description": "PKCE code challenge (base64url of SHA-256 of verifier)" },
                  "code_challenge_method": { "type": "string", "enum": ["S256"], "default": "S256" },
                  "client_state": { "type": "string", "description": "Opaque state passed back to your redirect_url" },
                  "login_hint": { "type": "string", "description": "Email hint for Google account picker" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization URL to open in browser",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "provider": { "type": "string", "example": "google" },
                    "authorization_url": { "type": "string", "format": "uri" },
                    "expires_in": { "type": "integer", "example": 600 }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/projects/v1/admin/{id}/sql": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Run SQL migration",
        "operationId": "runSql",
        "description": "Executes SQL against the project database. Dangerous statements (CREATE EXTENSION, ALTER SYSTEM, etc.) are blocked.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sql"
                ],
                "properties": {
                  "sql": {
                    "type": "string",
                    "description": "SQL statement(s) to execute"
                  }
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Raw SQL text"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SQL executed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "schema": {
                      "type": "string"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "rowCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/rls": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Apply RLS policy template",
        "operationId": "applyRls",
        "description": "Applies a row-level security template to one or more tables.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template",
                  "tables"
                ],
                "properties": {
                  "template": {
                    "type": "string",
                    "enum": [
                      "user_owns_rows",
                      "public_read",
                      "public_read_write"
                    ],
                    "description": "RLS template to apply"
                  },
                  "tables": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Table names to apply the policy to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RLS applied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "template": {
                      "type": "string"
                    },
                    "tables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/usage": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get project usage",
        "operationId": "getUsage",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "tier": {
                      "type": "string"
                    },
                    "api_calls": {
                      "type": "integer"
                    },
                    "api_calls_limit": {
                      "type": "integer"
                    },
                    "storage_bytes": {
                      "type": "integer"
                    },
                    "storage_limit_bytes": {
                      "type": "integer"
                    },
                    "lease_expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/schema": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Introspect project schema",
        "operationId": "getSchema",
        "description": "Returns full schema introspection: tables, columns, constraints, RLS policies.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schema info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schema": {
                      "type": "string"
                    },
                    "tables": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "constraints": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "rls_enabled": {
                            "type": "boolean"
                          },
                          "policies": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rest/v1/{path}": {
      "get": {
        "tags": [
          "REST"
        ],
        "summary": "PostgREST proxy — read data",
        "operationId": "restGet",
        "description": "Proxies GET requests to PostgREST. Supports all PostgREST query parameters (select, order, limit, offset, filters). The apikey header determines the role (anon or authenticated user).",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Table name or RPC function"
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column selection"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Row limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Row offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "REST"
        ],
        "summary": "PostgREST proxy — insert data",
        "operationId": "restPost",
        "description": "Proxies POST requests to PostgREST for inserting rows.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Row(s) inserted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "REST"
        ],
        "summary": "PostgREST proxy — update data",
        "operationId": "restPatch",
        "description": "Proxies PATCH requests to PostgREST for updating rows. Use query parameters to filter which rows to update.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row(s) updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "REST"
        ],
        "summary": "PostgREST proxy — delete data",
        "operationId": "restDelete",
        "description": "Proxies DELETE requests to PostgREST. Use query parameters to filter which rows to delete.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row(s) deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/storage/v1/object/{bucket}/{path}": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Upload a file",
        "operationId": "uploadFile",
        "description": "Uploads a file to the specified bucket. Max 10MB.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File path within the bucket"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Download a file",
        "operationId": "downloadFile",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Storage"
        ],
        "summary": "Delete a file",
        "operationId": "deleteFile",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/storage/v1/object/sign/{bucket}/{path}": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Generate a signed URL",
        "operationId": "signFile",
        "description": "Generates a pre-signed URL for direct file access. Expires in 1 hour.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signed_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 3600
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/storage/v1/object/list/{bucket}": {
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "List files in a bucket",
        "operationId": "listFiles",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "size": {
                            "type": "integer"
                          },
                          "last_modified": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/faucet/v1": {
      "post": {
        "tags": [
          "Faucet"
        ],
        "summary": "Request testnet USDC",
        "operationId": "faucetDrip",
        "description": "Sends testnet USDC to the specified wallet address on Base Sepolia. Rate limited to 1 drip per IP per 24 hours.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Ethereum wallet address (0x...)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "USDC sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_hash": {
                      "type": "string"
                    },
                    "amount_usd_micros": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string",
                      "example": "USDC"
                    },
                    "network": {
                      "type": "string",
                      "example": "base-sepolia"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 1 drip per IP per 24 hours"
          }
        }
      }
    },
    "/faucet/v1/admin": {
      "post": {
        "tags": [
          "Faucet"
        ],
        "summary": "Admin faucet drip (no rate limit)",
        "operationId": "adminFaucetDrip",
        "description": "Admin-only faucet with no rate limit and optional custom amount. Requires x-admin-key.",
        "security": [
          {
            "serviceKey": [],
            "adminKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Custom USDC amount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "USDC sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_hash": {
                      "type": "string"
                    },
                    "amount_usd_micros": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    },
                    "network": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden — invalid admin key"
          }
        }
      }
    },
    "/deployments/v1": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Deployment info",
        "operationId": "deploymentsInfo",
        "description": "Returns deployment info. No auth required.",
        "responses": {
          "200": {
            "description": "Deployment info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    },
                    "body": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Deploy a static site",
        "operationId": "createDeployment",
        "description": "Deploys static files to a live URL at {id}.sites.run402.com. Supports HTML, CSS, JS, images. SPA-ready with automatic fallback routing. Max 50MB total. Idempotent with Idempotency-Key header. Requires wallet auth, free within tier.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "files"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Deployment name"
                  },
                  "project": {
                    "type": "string",
                    "description": "Optional project ID to associate with"
                  },
                  "target": {
                    "type": "string",
                    "description": "Optional deploy target"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "file",
                        "data"
                      ],
                      "properties": {
                        "file": {
                          "type": "string",
                          "description": "File path (e.g. index.html, css/style.css)"
                        },
                        "data": {
                          "type": "string",
                          "description": "File content (UTF-8 text or base64-encoded)"
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "utf-8",
                            "base64"
                          ],
                          "default": "utf-8"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Site deployed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "string"
                    },
                    "files_count": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/deployments/v1/{id}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment status",
        "operationId": "getDeployment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "string"
                    },
                    "files_count": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found"
          }
        }
      }
    },
    "/agent/v1/contact": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Agent contact endpoint info",
        "operationId": "getAgentContactInfo",
        "responses": {
          "200": {
            "description": "Endpoint info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Register agent contact info",
        "operationId": "postAgentContact",
        "description": "Register or update agent contact info (name, email, webhook) tied to the wallet. Requires wallet auth, free within tier.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Agent name (required)"
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email (optional)"
                  },
                  "webhook": {
                    "type": "string",
                    "description": "Webhook URL, must be https (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact info saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "string",
                      "example": "0x..."
                    },
                    "name": {
                      "type": "string",
                      "example": "my-agent"
                    },
                    "email": {
                      "type": "string",
                      "example": "ops@example.com"
                    },
                    "webhook": {
                      "type": "string",
                      "example": "https://example.com/hook"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error (missing name, invalid email, non-https webhook)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/message/v1": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Message endpoint info",
        "operationId": "getMessageInfo",
        "responses": {
          "200": {
            "description": "Endpoint info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Send a message",
        "operationId": "sendMessage",
        "description": "Sends a message (feedback, contact) to the Run402 team via Telegram. Requires wallet auth, free within tier. Idempotent.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Message text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "sent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/generate-image/v1": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "Image generation info",
        "operationId": "getGenerateImageInfo",
        "responses": {
          "200": {
            "description": "Image generation pricing and options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Generate an image",
        "operationId": "generateImage",
        "description": "Generates an image via AI. Requires x402 payment. Not included in any tier — per-call cost.",
        "x-payment-info": {
          "protocols": ["x402"],
          "pricingMode": "fixed",
          "price": "$0.03"
        },
        "security": [
          {
            "x402": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Image generation prompt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/wallets/v1/{address}/projects": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List projects by wallet",
        "operationId": "listWalletProjects",
        "description": "Lists all projects associated with a wallet address.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ethereum wallet address"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "string"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tier": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "api_calls": {
                            "type": "integer"
                          },
                          "storage_bytes": {
                            "type": "integer"
                          },
                          "lease_expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subdomains/v1": {
      "post": {
        "tags": [
          "Subdomains"
        ],
        "summary": "Claim or reassign a subdomain",
        "operationId": "createSubdomain",
        "description": "Maps a custom subdomain ({name}.run402.com) to a deployment.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "deployment_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Subdomain name (e.g. 'myapp' for myapp.run402.com)"
                  },
                  "deployment_id": {
                    "type": "string",
                    "description": "Deployment ID to point to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subdomain created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subdomain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Subdomains"
        ],
        "summary": "List subdomains",
        "operationId": "listSubdomains",
        "description": "List subdomains. service_key sees the project's subdomains; admin auth (ADMIN_KEY or admin wallet SIWx) sees all subdomains.",
        "security": [
          {
            "serviceKey": []
          },
          {
            "adminKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subdomains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subdomain"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subdomains/v1/{name}": {
      "get": {
        "tags": [
          "Subdomains"
        ],
        "summary": "Look up a subdomain",
        "operationId": "getSubdomain",
        "description": "Public lookup — no auth required.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subdomain"
                }
              }
            }
          },
          "404": {
            "description": "Subdomain not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Subdomains"
        ],
        "summary": "Release a subdomain",
        "operationId": "deleteSubdomain",
        "description": "Releases a subdomain. Accepts service_key or admin auth (ADMIN_KEY or admin wallet SIWx).",
        "security": [
          {
            "serviceKey": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain released",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/functions": {
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Deploy a serverless function",
        "operationId": "deployFunction",
        "description": "Deploys a JavaScript/TypeScript function to AWS Lambda. Returns an invocation URL.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "code"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Function name"
                  },
                  "code": {
                    "type": "string",
                    "description": "Function source code"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "timeout": {
                        "type": "integer",
                        "description": "Timeout in seconds"
                      },
                      "memory": {
                        "type": "integer",
                        "description": "Memory in MB"
                      }
                    }
                  },
                  "deps": {
                    "type": "object",
                    "description": "NPM dependencies (name → version)",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Function deployed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "string"
                    },
                    "runtime": {
                      "type": "string"
                    },
                    "timeout": {
                      "type": "integer"
                    },
                    "memory": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "List project functions",
        "operationId": "listFunctions",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "functions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "runtime": {
                            "type": "string"
                          },
                          "timeout": {
                            "type": "integer"
                          },
                          "memory": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/functions/{name}": {
      "delete": {
        "tags": [
          "Functions"
        ],
        "summary": "Delete a function",
        "operationId": "deleteFunction",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/functions/{name}/trigger": {
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Manually trigger a function",
        "description": "Invoke a function immediately, same as a cron tick. Returns the function's response status and body. Updates schedule_meta if the function has a schedule.",
        "operationId": "triggerFunction",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function invocation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code from the function"
                    },
                    "body": {
                      "type": "string",
                      "description": "Response body from the function"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Function not found"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/functions/{name}/logs": {
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get function execution logs",
        "operationId": "getFunctionLogs",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tail",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of log lines to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Function logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/secrets": {
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Set a function secret",
        "operationId": "setSecret",
        "description": "Sets an environment variable available to all functions in the project.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "value"
                ],
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Secret set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "set"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "List function secrets",
        "operationId": "listSecrets",
        "description": "Lists secret key names (not values).",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secrets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/v1/admin/{id}/secrets/{key}": {
      "delete": {
        "tags": [
          "Functions"
        ],
        "summary": "Delete a function secret",
        "operationId": "deleteSecret",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/functions/v1": {
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "List functions",
        "operationId": "listAllFunctions",
        "description": "List deployed functions across all projects. Wallet auth sees own functions; admin auth (ADMIN_KEY or admin wallet SIWx) sees all functions.",
        "security": [
          {
            "walletAuth": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Function list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "functions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "project_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/functions/v1/{name}": {
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function (GET)",
        "operationId": "invokeFunctionGet",
        "description": "Invokes a deployed function. Supports any HTTP method. Subroutes are forwarded.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function response (varies)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function (POST)",
        "operationId": "invokeFunctionPost",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function response (varies)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function (PATCH)",
        "operationId": "invokeFunctionPatch",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function response (varies)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function (DELETE)",
        "operationId": "invokeFunctionDelete",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function response (varies)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/v1/accounts/{wallet}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get account balance",
        "operationId": "getBillingAccount",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ethereum wallet address"
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available_usd_micros": {
                      "type": "integer",
                      "description": "Available balance in micro-USD (1 USD = 1,000,000)"
                    }
                  },
                  "required": ["available_usd_micros"]
                }
              }
            }
          }
        }
      }
    },
    "/billing/v1/accounts/{wallet}/history": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get account transaction history",
        "operationId": "getBillingHistory",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "string"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing/v1/checkouts": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create a top-up checkout",
        "operationId": "createBillingCheckout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet",
                  "amount_usd_micros"
                ],
                "properties": {
                  "wallet": {
                    "type": "string",
                    "description": "Ethereum wallet address"
                  },
                  "amount_usd_micros": {
                    "type": "integer",
                    "description": "Amount in micro-USD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkout_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "topup_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deploy/v1": {
      "get": {
        "tags": [
          "Bundle"
        ],
        "summary": "Bundle deploy info",
        "operationId": "getBundleDeployInfo",
        "responses": {
          "200": {
            "description": "Tier pricing and request body schema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bundle"
        ],
        "summary": "Bundle deploy (one-call full-stack app)",
        "operationId": "bundleDeploy",
[...]
