{
  "openapi": "3.0.3",
  "info": {
    "title": "Run402 API",
    "version": "1.0.0",
    "description": "Full-stack infrastructure for AI agents. Postgres, REST API, auth, file storage, static site hosting, serverless functions. Paid via x402 USDC micropayments on Base — no signups, no dashboards.",
    "contact": {
      "name": "Run402",
      "url": "https://run402.com"
    }
  },
  "servers": [
    {
      "url": "https://api.run402.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Provision, renew, and manage database projects"
    },
    {
      "name": "Auth",
      "description": "User signup, login, token refresh, and logout"
    },
    {
      "name": "Admin",
      "description": "SQL migrations, RLS policies, usage, and schema introspection"
    },
    {
      "name": "REST",
      "description": "PostgREST proxy — full CRUD on your tables"
    },
    {
      "name": "Storage",
      "description": "Upload, download, delete, sign, and list files"
    },
    {
      "name": "Faucet",
      "description": "Testnet USDC drip for development"
    },
    {
      "name": "Deployments",
      "description": "Static site deployment"
    },
    {
      "name": "Message",
      "description": "Paid feedback / contact endpoint"
    },
    {
      "name": "Subdomains",
      "description": "Custom subdomain management for deployments"
    },
    {
      "name": "Functions",
      "description": "Serverless function deploy, invoke, logs, and secrets"
    },
    {
      "name": "Health",
      "description": "Health check and x402 discovery"
    },
    {
      "name": "Billing",
      "description": "Prepaid allowance accounts and checkout"
    },
    {
      "name": "Bundle",
      "description": "One-call full-stack app deployment"
    },
    {
      "name": "Publish",
      "description": "Publish and fork app versions"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "checks": {
                      "type": "object",
                      "properties": {
                        "postgres": {
                          "type": "string"
                        },
                        "postgrest": {
                          "type": "string"
                        }
                      }
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ping": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Paid ping (x402 probe)",
        "operationId": "ping",
        "x-402-price": "$0.001 USDC",
        "security": [
          {
            "x402": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paid ping accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "paid": {
                      "type": "boolean",
                      "example": true
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "x402 resource discovery",
        "operationId": "x402Discovery",
        "description": "Lists all x402-gated resources and their prices for automated discovery.",
        "responses": {
          "200": {
            "description": "x402 resource list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string"
                          },
                          "network": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List tier pricing",
        "operationId": "listTiers",
        "description": "Returns available tiers and their pricing. No auth required. Useful for programmatic price discovery before provisioning.",
        "responses": {
          "200": {
            "description": "Tier pricing info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierPricing"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Provision a new project",
        "operationId": "createProject",
        "description": "Creates a new database project. Requires x402 payment. Default tier is prototype ($0.10 USDC).",
        "x-402-price": "$0.10 USDC (prototype), $5.00 (hobby), $20.00 (team)",
        "security": [
          {
            "x402": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Optional project name"
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "prototype",
                      "hobby",
                      "team"
                    ],
                    "default": "prototype"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCreated"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/projects/quote": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Quote tier pricing",
        "operationId": "quoteTiers",
        "description": "Same as GET /v1/projects — returns tier pricing info.",
        "responses": {
          "200": {
            "description": "Tier pricing info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierPricing"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/create/{tier}": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Provision a project with a specific tier",
        "operationId": "createProjectByTier",
        "x-402-price": "Per tier: prototype $0.10, hobby $5.00, team $20.00",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "tier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "prototype",
                "hobby",
                "team"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Optional project name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCreated"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/projects/{id}": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Archive (soft-delete) a project",
        "operationId": "deleteProject",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project archived",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "archived"
                    },
                    "project_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/projects/{id}/renew": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Renew project lease",
        "operationId": "renewProject",
        "description": "Extends the project lease via x402 payment.",
        "x-402-price": "Per tier: prototype $0.10, hobby $5.00, team $20.00",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "prototype",
                      "hobby",
                      "team"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lease renewed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "tier": {
                      "type": "string"
                    },
                    "lease_expires_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/auth/v1/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create a new user",
        "operationId": "signup",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login or refresh token",
        "operationId": "getToken",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "email",
                      "password"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string"
                      }
                    },
                    "title": "Password login"
                  },
                  {
                    "type": "object",
                    "required": [
                      "refresh_token",
                      "grant_type"
                    ],
                    "properties": {
                      "refresh_token": {
                        "type": "string"
                      },
                      "grant_type": {
                        "type": "string",
                        "enum": [
                          "refresh_token"
                        ]
                      }
                    },
                    "title": "Token refresh"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 3600
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/user": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user",
        "operationId": "getUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout / invalidate refresh token",
        "operationId": "logout",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/projects/{id}/sql": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Run SQL migration",
        "operationId": "runSql",
        "description": "Executes SQL against the project database. Dangerous statements (CREATE EXTENSION, ALTER SYSTEM, etc.) are blocked.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sql"
                ],
                "properties": {
                  "sql": {
                    "type": "string",
                    "description": "SQL statement(s) to execute"
                  }
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Raw SQL text"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SQL executed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "schema": {
                      "type": "string"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "rowCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/rls": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Apply RLS policy template",
        "operationId": "applyRls",
        "description": "Applies a row-level security template to one or more tables.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template",
                  "tables"
                ],
                "properties": {
                  "template": {
                    "type": "string",
                    "enum": [
                      "user_owns_rows",
                      "public_read",
                      "public_read_write"
                    ],
                    "description": "RLS template to apply"
                  },
                  "tables": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Table names to apply the policy to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RLS applied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "template": {
                      "type": "string"
                    },
                    "tables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/usage": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get project usage",
        "operationId": "getUsage",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "tier": {
                      "type": "string"
                    },
                    "api_calls": {
                      "type": "integer"
                    },
                    "api_calls_limit": {
                      "type": "integer"
                    },
                    "storage_bytes": {
                      "type": "integer"
                    },
                    "storage_limit_bytes": {
                      "type": "integer"
                    },
                    "lease_expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/schema": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Introspect project schema",
        "operationId": "getSchema",
        "description": "Returns full schema introspection: tables, columns, constraints, RLS policies.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schema info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schema": {
                      "type": "string"
                    },
                    "tables": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "constraints": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "rls_enabled": {
                            "type": "boolean"
                          },
                          "policies": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/pin": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Pin project (admin-only)",
        "operationId": "pinProject",
        "description": "Pins a project so its lease never expires. Requires x-admin-key header.",
        "security": [
          {
            "serviceKey": [],
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project pinned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "project_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "pinned": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden — invalid admin key"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/unpin": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Unpin project (admin-only)",
        "operationId": "unpinProject",
        "description": "Unpins a project, restoring normal lease expiry. Requires x-admin-key header.",
        "security": [
          {
            "serviceKey": [],
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project unpinned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "project_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "pinned": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden — invalid admin key"
          }
        }
      }
    },
    "/rest/v1/{path}": {
      "get": {
        "tags": [
          "REST"
        ],
        "summary": "PostgREST proxy — read data",
        "operationId": "restGet",
        "description": "Proxies GET requests to PostgREST. Supports all PostgREST query parameters (select, order, limit, offset, filters). The apikey header determines the role (anon or authenticated user).",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Table name or RPC function"
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column selection"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Row limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Row offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "REST"
        ],
        "summary": "PostgREST proxy — insert data",
        "operationId": "restPost",
        "description": "Proxies POST requests to PostgREST for inserting rows.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Row(s) inserted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "REST"
        ],
        "summary": "PostgREST proxy — update data",
        "operationId": "restPatch",
        "description": "Proxies PATCH requests to PostgREST for updating rows. Use query parameters to filter which rows to update.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row(s) updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "REST"
        ],
        "summary": "PostgREST proxy — delete data",
        "operationId": "restDelete",
        "description": "Proxies DELETE requests to PostgREST. Use query parameters to filter which rows to delete.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row(s) deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/storage/v1/object/{bucket}/{path}": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Upload a file",
        "operationId": "uploadFile",
        "description": "Uploads a file to the specified bucket. Max 10MB.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File path within the bucket"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Download a file",
        "operationId": "downloadFile",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Storage"
        ],
        "summary": "Delete a file",
        "operationId": "deleteFile",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/storage/v1/object/sign/{bucket}/{path}": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Generate a signed URL",
        "operationId": "signFile",
        "description": "Generates a pre-signed URL for direct file access. Expires in 1 hour.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signed_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 3600
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/storage/v1/object/list/{bucket}": {
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "List files in a bucket",
        "operationId": "listFiles",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "size": {
                            "type": "integer"
                          },
                          "last_modified": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/faucet": {
      "post": {
        "tags": [
          "Faucet"
        ],
        "summary": "Request testnet USDC",
        "operationId": "faucetDrip",
        "description": "Sends testnet USDC to the specified wallet address on Base Sepolia. Rate limited to 1 drip per IP per 24 hours.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Ethereum wallet address (0x...)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "USDC sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionHash": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string",
                      "example": "USDC"
                    },
                    "network": {
                      "type": "string",
                      "example": "base-sepolia"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 1 drip per IP per 24 hours"
          }
        }
      }
    },
    "/admin/v1/faucet": {
      "post": {
        "tags": [
          "Faucet"
        ],
        "summary": "Admin faucet drip (no rate limit)",
        "operationId": "adminFaucetDrip",
        "description": "Admin-only faucet with no rate limit and optional custom amount. Requires x-admin-key.",
        "security": [
          {
            "serviceKey": [],
            "adminKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Custom USDC amount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "USDC sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionHash": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "network": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden — invalid admin key"
          }
        }
      }
    },
    "/v1/deployments": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Deployment info (price discovery)",
        "operationId": "deploymentsInfo",
        "description": "Returns deployment pricing and usage info. No auth required.",
        "responses": {
          "200": {
            "description": "Deployment info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "price": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    },
                    "body": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Deploy a static site",
        "operationId": "createDeployment",
        "description": "Deploys static files to a live URL at {id}.sites.run402.com. Supports HTML, CSS, JS, images. SPA-ready with automatic fallback routing. Max 50MB total. Idempotent with Idempotency-Key header.",
        "x-402-price": "$0.05 USDC",
        "security": [
          {
            "x402": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "files"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Deployment name"
                  },
                  "project": {
                    "type": "string",
                    "description": "Optional project ID to associate with"
                  },
                  "target": {
                    "type": "string",
                    "description": "Optional deploy target"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "file",
                        "data"
                      ],
                      "properties": {
                        "file": {
                          "type": "string",
                          "description": "File path (e.g. index.html, css/style.css)"
                        },
                        "data": {
                          "type": "string",
                          "description": "File content (UTF-8 text or base64-encoded)"
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "utf-8",
                            "base64"
                          ],
                          "default": "utf-8"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Site deployed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "string"
                    },
                    "files_count": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/deployments/{id}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment status",
        "operationId": "getDeployment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "string"
                    },
                    "files_count": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found"
          }
        }
      }
    },
    "/v1/agent/contact": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Agent contact endpoint info",
        "operationId": "getAgentContactInfo",
        "responses": {
          "200": {
            "description": "Endpoint info and pricing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Agent"
        ],
        "summary": "Register agent contact info",
        "operationId": "putAgentContact",
        "description": "Register or update agent contact info (name, email, webhook) tied to the paying wallet. $0.001 USDC.",
        "x-402-price": "$0.001 USDC",
        "security": [
          {
            "x402": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Agent name (required)"
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email (optional)"
                  },
                  "webhook": {
                    "type": "string",
                    "description": "Webhook URL, must be https (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact info saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "string",
                      "example": "0x..."
                    },
                    "name": {
                      "type": "string",
                      "example": "my-agent"
                    },
                    "email": {
                      "type": "string",
                      "example": "ops@example.com"
                    },
                    "webhook": {
                      "type": "string",
                      "example": "https://example.com/hook"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error (missing name, invalid email, non-https webhook)"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/message": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Message endpoint info",
        "operationId": "getMessageInfo",
        "responses": {
          "200": {
            "description": "Endpoint info and pricing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Send a paid message",
        "operationId": "sendMessage",
        "description": "Sends a paid message (feedback, contact) to the Run402 team via Telegram. Idempotent.",
        "x-402-price": "$0.01 USDC",
        "security": [
          {
            "x402": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Message text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "sent"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/generate-image": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Image generation info",
        "operationId": "getGenerateImageInfo",
        "responses": {
          "200": {
            "description": "Image generation pricing and options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Generate an image",
        "operationId": "generateImage",
        "description": "Generates an image via AI. Requires x402 payment.",
        "x-402-price": "$0.01 USDC",
        "security": [
          {
            "x402": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Image generation prompt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/wallets/{address}/projects": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List projects by wallet",
        "operationId": "listWalletProjects",
        "description": "Lists all projects associated with a wallet address.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ethereum wallet address"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "string"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tier": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "api_calls": {
                            "type": "integer"
                          },
                          "storage_bytes": {
                            "type": "integer"
                          },
                          "lease_expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/subdomains": {
      "post": {
        "tags": [
          "Subdomains"
        ],
        "summary": "Claim or reassign a subdomain",
        "operationId": "createSubdomain",
        "description": "Maps a custom subdomain ({name}.run402.com) to a deployment.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "deployment_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Subdomain name (e.g. 'myapp' for myapp.run402.com)"
                  },
                  "deployment_id": {
                    "type": "string",
                    "description": "Deployment ID to point to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subdomain created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subdomain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Subdomains"
        ],
        "summary": "List project subdomains",
        "operationId": "listSubdomains",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subdomain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/subdomains/{name}": {
      "get": {
        "tags": [
          "Subdomains"
        ],
        "summary": "Look up a subdomain",
        "operationId": "getSubdomain",
        "description": "Public lookup — no auth required.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subdomain"
                }
              }
            }
          },
          "404": {
            "description": "Subdomain not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Subdomains"
        ],
        "summary": "Release a subdomain",
        "operationId": "deleteSubdomain",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain released",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/functions": {
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Deploy a serverless function",
        "operationId": "deployFunction",
        "description": "Deploys a JavaScript/TypeScript function to AWS Lambda. Returns an invocation URL.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "code"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Function name"
                  },
                  "code": {
                    "type": "string",
                    "description": "Function source code"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "timeout": {
                        "type": "integer",
                        "description": "Timeout in seconds"
                      },
                      "memory": {
                        "type": "integer",
                        "description": "Memory in MB"
                      }
                    }
                  },
                  "deps": {
                    "type": "object",
                    "description": "NPM dependencies (name → version)",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Function deployed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "string"
                    },
                    "runtime": {
                      "type": "string"
                    },
                    "timeout": {
                      "type": "integer"
                    },
                    "memory": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "List project functions",
        "operationId": "listFunctions",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "functions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "runtime": {
                            "type": "string"
                          },
                          "timeout": {
                            "type": "integer"
                          },
                          "memory": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/functions/{name}": {
      "delete": {
        "tags": [
          "Functions"
        ],
        "summary": "Delete a function",
        "operationId": "deleteFunction",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/functions/{name}/logs": {
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get function execution logs",
        "operationId": "getFunctionLogs",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tail",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of log lines to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Function logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/secrets": {
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Set a function secret",
        "operationId": "setSecret",
        "description": "Sets an environment variable available to all functions in the project.",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "value"
                ],
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "set"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "List function secrets",
        "operationId": "listSecrets",
        "description": "Lists secret key names (not values).",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secrets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/secrets/{key}": {
      "delete": {
        "tags": [
          "Functions"
        ],
        "summary": "Delete a function secret",
        "operationId": "deleteSecret",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/functions/v1/{name}": {
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function (GET)",
        "operationId": "invokeFunctionGet",
        "description": "Invokes a deployed function. Supports any HTTP method. Subroutes are forwarded.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function response (varies)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function (POST)",
        "operationId": "invokeFunctionPost",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function response (varies)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function (PATCH)",
        "operationId": "invokeFunctionPatch",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function response (varies)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function (DELETE)",
        "operationId": "invokeFunctionDelete",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Function response (varies)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/billing/accounts/{wallet}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get account balance",
        "operationId": "getBillingAccount",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ethereum wallet address"
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available_usd_micros": {
                      "type": "integer",
                      "description": "Available balance in micro-USD (1 USD = 1,000,000)"
                    }
                  },
                  "required": ["available_usd_micros"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/accounts/{wallet}/history": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get account transaction history",
        "operationId": "getBillingHistory",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "string"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/checkouts": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create a top-up checkout",
        "operationId": "createBillingCheckout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet",
                  "amount_usd_micros"
                ],
                "properties": {
                  "wallet": {
                    "type": "string",
                    "description": "Ethereum wallet address"
                  },
                  "amount_usd_micros": {
                    "type": "integer",
                    "description": "Amount in micro-USD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkout_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "topup_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/deploy": {
      "get": {
        "tags": [
          "Bundle"
        ],
        "summary": "Bundle deploy info",
        "operationId": "getBundleDeployInfo",
        "responses": {
          "200": {
            "description": "Tier pricing and request body schema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/deploy/{tier}": {
      "post": {
        "tags": [
          "Bundle"
        ],
        "summary": "Bundle deploy (one-call full-stack app)",
        "operationId": "bundleDeploy",
        "description": "Deploys project + database + migrations + RLS + secrets + functions + site + subdomain in one call.",
        "x-402-price": "Per tier ($0.10 prototype, $5 hobby, $20 team)",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "tier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "prototype",
                "hobby",
                "team"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "migrations": {
                    "type": "string"
                  },
                  "rls": {
                    "type": "object"
                  },
                  "secrets": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "site": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "subdomain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App deployed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/publish": {
      "post": {
        "tags": [
          "Publish"
        ],
        "summary": "Publish app as a forkable version",
        "operationId": "publishAppVersion",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ]
                  },
                  "fork_allowed": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "required_secrets": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Version published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/versions": {
      "get": {
        "tags": [
          "Publish"
        ],
        "summary": "List published versions",
        "operationId": "listVersions",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/v1/projects/{id}/versions/{versionId}": {
      "patch": {
        "tags": [
          "Publish"
        ],
        "summary": "Update version metadata",
        "operationId": "updateVersion",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": {
                    "type": "string"
                  },
                  "fork_allowed": {
                    "type": "boolean"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Version updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Publish"
        ],
        "summary": "Delete a published version",
        "operationId": "deleteVersion",
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    },
                    "version_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "tags": [
          "Publish"
        ],
        "summary": "List public forkable apps",
        "operationId": "listApps",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tag (repeatable)"
          }
        ],
        "responses": {
          "200": {
            "description": "App list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apps": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{versionId}": {
      "get": {
        "tags": [
          "Publish"
        ],
        "summary": "Get public app info",
        "operationId": "getApp",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App details with fork pricing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "App not found"
          }
        }
      }
    },
    "/v1/fork": {
      "get": {
        "tags": [
          "Publish"
        ],
        "summary": "Fork endpoint info",
        "operationId": "getForkInfo",
        "responses": {
          "200": {
            "description": "Tier pricing and body schema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fork/{tier}": {
      "post": {
        "tags": [
          "Publish"
        ],
        "summary": "Fork a published app",
        "operationId": "forkApp",
        "description": "Creates a fully independent project from a published app version.",
        "x-402-price": "Per tier ($0.10 prototype, $5 hobby, $20 team)",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "tier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "prototype",
                "hobby",
                "team"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version_id",
                  "name"
                ],
                "properties": {
                  "version_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "subdomain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
[...]
