{
  "openapi": "3.0.3",
  "info": {
    "title": "Run402 API",
    "version": "2.0.0",
    "description": "Full-stack infrastructure for AI agents. Postgres, REST API, auth, file storage, static site hosting, serverless functions. Tier payments and image generation use the shared payment engine: x402 (USDC on Base), MPP on Tempo (pathUSD), and the draft-pinned MPP Lightning charge profile (sats, Bitcoin mainnet) for authenticated tier purchases and image generation.",
    "contact": {
      "name": "Run402",
      "url": "https://run402.com"
    },
    "guidance": "Run402 is a pay-per-use backend for AI agents: Postgres databases, static hosting, serverless functions, and image generation. The shared payment engine supports x402 (USDC on Base), MPP on Tempo (pathUSD), and the exact Run402 MPP Lightning charge profile on Bitcoin mainnet (sats).\n\n## Quick start\n1. Install the CLI: npm install -g run402@latest\n2. Create an allowance: run402 init\n3. Subscribe to prototype tier (FREE, testnet USDC): run402 tier set prototype\n4. Provision a project: run402 projects provision --name \"my-app\"\n5. Deploy: run402 deploy --manifest app.json\n\n## Payment model\n- Tier subscriptions (prototype $0.10 testnet, hobby $5, team $20) unlock all platform features.\n- Image generation is $0.03 per call (x402, MPP on Tempo, or MPP Lightning micropayment).\n- Auth-only endpoints (projects, deploys, messages) require SIWX wallet identity but no payment.\n\n## Auth\n- x402 endpoints: include a payment header (handled automatically by the CLI or x402 client libraries).\n- Explicit MPP Lightning tier requests require the exact Run402 profile, ordered Accept-Payment preferences, one principal credential, a stable Idempotency-Key, and buyer-side USD/native/fee limits.\n- SIWX endpoints: sign a CAIP-122 message with your wallet.\n- REST API: use the project's anon_key or service_key as the apikey header.\n\n## Client metadata\n- Recent Node SDK/CLI clients may send Run402-Client: surface=\"cli\", version=\"3.7.14\", sdk=\"3.7.14\". It is advisory, bounded, never used for auth/billing/trust, and not browser-CORS-enabled yet.\n\n## Docs\n- Full CLI docs: https://run402.com/llms-cli.txt\n- API docs: https://run402.com/llms.txt"
  },
  "servers": [
    {
      "url": "https://api.run402.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Operator console",
      "description": "Read-only organization overview for the human operator (Phase 0, add-operator-console). API-first: the reference web console is just a consumer of these endpoints."
    },
    {
      "name": "Tiers",
      "description": "Wallet-level tier subscription — subscribe, renew, upgrade, and check status"
    },
    {
      "name": "Projects",
      "description": "Provision and manage database projects (wallet auth, free within tier)"
    },
    {
      "name": "Project Archives",
      "description": "Portable archive export for the supported Run402 Core runtime slice of a Cloud project. This is the no-lock-in path, not a backup/SLA or allowance/spend-cap feature."
    },
    {
      "name": "Auth",
      "description": "User signup, login, token refresh, and logout"
    },
    {
      "name": "Admin",
      "description": "SQL migrations, RLS policies, usage, and schema introspection"
    },
    {
      "name": "REST",
      "description": "PostgREST proxy — full CRUD on your tables"
    },
    {
      "name": "Storage",
      "description": "Upload, download, delete, sign, and list files"
    },
    {
      "name": "Faucet",
      "description": "Testnet USDC drip for development"
    },
    {
      "name": "Deployments",
      "description": "Static site deployment (wallet auth, free within tier)"
    },
    {
      "name": "Feedback",
      "description": "Feedback / contact endpoint (wallet auth, free within tier)"
    },
    {
      "name": "Subdomains",
      "description": "Custom subdomain management for deployments"
    },
    {
      "name": "Functions",
      "description": "Serverless function deploy, invoke, logs, and secrets"
    },
    {
      "name": "Health",
      "description": "Health check and x402 discovery"
    },
    {
      "name": "Billing",
      "description": "Prepaid allowance accounts and checkout"
    },
    {
      "name": "Bundle",
      "description": "One-call full-stack app deployment (wallet auth, free within tier)"
    },
    {
      "name": "Publish",
      "description": "Publish and fork app versions"
    },
    {
      "name": "Image",
      "description": "AI image generation (x402-gated, per-call)"
    },
    {
      "name": "Agent",
      "description": "Agent contact registration (wallet auth, free within tier)"
    },
    {
      "name": "Project domains",
      "description": "Project-scoped desired/observed/effective lifecycle for custom web and email domains"
    },
    {
      "name": "Mailboxes",
      "description": "Project-scoped email at slug@project-host.mail.run402.com, with ProjectDomain custom addresses and managed fallback"
    },
    {
      "name": "Content",
      "description": "v1.34 generic CAS content plan/commit (used internally by the SDK for byte uploads)."
    },
    {
      "name": "Apply",
      "description": "Unified apply primitive — plan + commit + operations + resume."
    },
    {
      "name": "Vouchers",
      "description": "Credit vouchers: single-use promo codes redeemable by an authenticated wallet for platform prepaid credit. Redeemed credit spends like any other prepaid balance (tiers, priced calls). Redemption works before or after `run402 init` and is never blocked by an organization grace state."
    }
  ],
  "paths": {
    "/agent/v1/operator/session/email": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Send operator sign-in magic link",
        "description": "Public, rate-limited. Identical response whether or not the email controls an account (no account-existence oracle). A single-use link (raw token in the URL fragment) is emailed only when the email controls >=1 verified wallet.",
        "operationId": "operatorSessionEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "return_path": {
                    "type": "string",
                    "pattern": "^/buzz/adoptions/buzzhao_[0-9a-f]{32}$",
                    "description": "Optional ephemeral Buzz-adoption return path. The magic link carries it in the console fragment; the resulting session remains memory-only in that browser page."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic acknowledgement (sent-if-eligible).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/email/verify": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Exchange magic-link token for an operator session",
        "operationId": "operatorSessionEmailVerify",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ operator_session_token, token_type, expires_in, absolute_expires_at, email, wallets[] }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/passkey/options": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "WebAuthn authentication options for passkey-login",
        "operationId": "operatorSessionPasskeyOptions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ options } — PublicKeyCredentialRequestOptionsJSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/passkey/verify": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Exchange a WebAuthn assertion for an operator session",
        "operationId": "operatorSessionPasskeyVerify",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "response"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "response": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ operator_session_token, token_type, expires_in, absolute_expires_at, email, wallets[] }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/passkey/enroll/options": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "WebAuthn registration options to enroll an operator passkey",
        "description": "Operator-session-authed. Enroll a new passkey for the verified-email operator (binds to a verified wallet). Unlocks Tier-B inventory reads, which require a passkey session.",
        "operationId": "operatorPasskeyEnrollOptions",
        "security": [
          {
            "operatorSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ options } — PublicKeyCredentialCreationOptionsJSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/passkey/enroll/verify": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Verify a WebAuthn registration + persist the operator passkey",
        "operationId": "operatorPasskeyEnrollVerify",
        "security": [
          {
            "operatorSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "response"
                ],
                "properties": {
                  "response": {
                    "type": "object"
                  },
                  "label": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, credential_id }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/refresh": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Refresh (rotate) an operator session before expiry",
        "description": "Auth-plane write: rotates jti + re-issues while the session row is live and within the 12h absolute cap.",
        "operationId": "operatorSessionRefresh",
        "security": [
          {
            "operatorSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ operator_session_token, token_type, expires_in }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/device": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Start a CLI device-authorization (RFC 8628)",
        "description": "Public, no oracle (email-less). Begins a browser-delegated device grant so the run402 CLI can obtain an operator session. Returns { device_code, user_code, verification_uri, verification_uri_complete, expires_in, interval }.",
        "operationId": "operatorSessionDeviceStart",
        "responses": {
          "200": {
            "description": "Device-authorization start payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/device/approve": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Approve (or deny) a CLI device authorization",
        "description": "Operator-session-authed; the session must have authenticated recently (magic-link OR passkey). Binds the user_code to an approve/deny decision. Does NOT mint a session — the mint happens at the token poll.",
        "operationId": "operatorSessionDeviceApprove",
        "security": [
          {
            "operatorSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_code"
                ],
                "properties": {
                  "user_code": {
                    "type": "string"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "deny"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, decision, client_name }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/device/token": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Poll for the operator session (RFC 8628 token endpoint)",
        "description": "Public; the device_code is the credential. On approval returns { operator_session_token, token_type, expires_in, absolute_expires_at, email, wallets[] } (single-use). Otherwise an RFC-8628 error body { error } at HTTP 400: authorization_pending | slow_down | access_denied | expired_token.",
        "operationId": "operatorSessionDeviceToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_code"
                ],
                "properties": {
                  "device_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ operator_session_token, ... } on approval.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "RFC 8628 error body { error }.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/session/revoke": {
      "post": {
        "tags": [
          "Operator console"
        ],
        "summary": "Revoke (sign out) the current operator session",
        "description": "Operator-session-authed. Revokes the current session by its jti via the existing revoke helper; idempotent; 204. Takes effect on the next request (the middleware checks revoked_at with no positive-validity cache).",
        "operationId": "operatorSessionRevoke",
        "security": [
          {
            "operatorSession": []
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked (idempotent)."
          }
        }
      }
    },
    "/agent/v1/operator/overview": {
      "get": {
        "tags": [
          "Operator console"
        ],
        "summary": "Organization overview (Tier-A summary)",
        "description": "Multi-account, summary-first read: { scope, operator, rollup, organizations[], wallets[], advisories[] }. Counts only (functions/secrets/domains/mailboxes) — NOT inventory names. Accepts an operator session (verified-email union), a control-plane session (the console's write-capable sign-in reading its OWN footprint — verified-email + siwx-authenticator union; scope.kind \"principal\"), OR a wallet SIWX header (that wallet's slice). Service/admin keys are NOT accepted here.",
        "operationId": "operatorOverview",
        "security": [
          {
            "operatorSession": []
          },
          {
            "controlPlaneSession": []
          },
          {
            "walletAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "AccountOverview (Tier A).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/projects": {
      "get": {
        "tags": [
          "Operator console"
        ],
        "summary": "Cross-account project inventory (--all)",
        "description": "Named, domain-aware project inventory across the operator's verified-email wallet union (or a single wallet's slice for a SIWX caller), in the same row shape as GET /projects/v1: { projects: [{ project_id, name, tier, site_url, custom_domains, status, org_id, created_by, created_at }], scope }. Soft-deleted (tombstone) projects are NEVER listed; archived projects are hidden by default and opt back in with `include=archived`. Names + public addressing only — no secret/key values. Service/admin keys are NOT accepted here.",
        "operationId": "operatorProjectInventory",
        "security": [
          {
            "operatorSession": []
          },
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "archived"
              ]
            },
            "description": "Opt archived projects back into the listing (`include=archived`). Soft-deleted (tombstone) projects are never returned regardless. Any other value is a 400."
          }
        ],
        "responses": {
          "200": {
            "description": "Named cross-account project inventory.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/operator/projects/{project_id}/contents": {
      "get": {
        "tags": [
          "Operator console"
        ],
        "summary": "Project inventory names (Tier-B drill-down)",
        "description": "Inventory NAMES (secret names, function names, domains, subdomains, mailbox slugs) — never values. Operator session requires fresh proof (passkey-login or recent re-auth); the project must be owned by a wallet in the caller's set.",
        "operationId": "operatorProjectContents",
        "security": [
          {
            "operatorSession": []
          },
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ProjectContents (Tier B).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/operator/overview": {
      "get": {
        "tags": [
          "Operator console"
        ],
        "summary": "Operator overview for support (admin only, audited)",
        "description": "Support read. Mandatory exactly-one target query + a mandatory audit-log row. Same response schema as the public overview.",
        "operationId": "operatorOverviewAdmin",
        "security": [
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "wallet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AccountOverview.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/account/security": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Account security overview",
        "description": "Machine route (apikey + user Bearer). Returns the signed-in user's security surface: linked identities, registered passkeys, password-set state, and — with ?app_origin — current-RP passkey availability.",
        "operationId": "getAuthAccountSecurity",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app_origin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Exact app origin to evaluate for current-RP passkey state."
          }
        ],
        "responses": {
          "200": {
            "description": "Account security state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/account/sessions": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "List the Bearer actor's browser sessions",
        "description": "Machine route (apikey + user Bearer). Returns live, secret-free browser-session summaries for the user identified by the access token.",
        "operationId": "listAuthV1AccountSessions",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Live browser sessions for the Bearer actor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sessions"
                  ],
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "session_id",
                          "created_at",
                          "last_refreshed_at",
                          "expires_at",
                          "hard_expires_at",
                          "amr",
                          "passkey_id"
                        ],
                        "properties": {
                          "session_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_refreshed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hard_expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "amr": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "passkey_id": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/account/sessions/revoke": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke one browser session as the Bearer actor",
        "description": "Machine route (apikey + user Bearer). Revokes one browser session by id, scoped to the user identified by the token; it cannot target another user's session.",
        "operationId": "revokeAuthV1AccountSession",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id"
                ],
                "properties": {
                  "session_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revocation result; revoked is false when no matching live session exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "revoked"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "revoked": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/account/sign-out-everywhere": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke all browser sessions as the Bearer actor",
        "description": "Machine route (apikey + user Bearer). Revokes every live browser session for the token's user. Unlike the hosted-cookie route, a Bearer caller has no current browser session to preserve.",
        "operationId": "signOutEverywhereAuthV1Account",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Number of browser sessions revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "revoked_count"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "revoked_count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/account/password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Set or change the Bearer actor's password",
        "description": "Machine route (apikey + user Bearer). Requires the signed auth_time claim to be no more than 5 minutes old; otherwise returns R402_AUTH_FRESHNESS_REQUIRED. Refresh-token rotation preserves auth_time and does not satisfy freshness. A successful change revokes all of the user's browser sessions.",
        "operationId": "setAuthV1AccountPassword",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "new_password"
                ],
                "properties": {
                  "new_password": {
                    "type": "string",
                    "minLength": 1,
                    "description": "New password, limited to 72 UTF-8 bytes."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed and browser sessions revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "sessions_revoked"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "sessions_revoked": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/account/passkeys": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "List the Bearer actor's passkeys",
        "description": "Machine route (apikey + user Bearer). Lists active Run402 passkeys owned by the token's user. To register a passkey, use the WebAuthn registration routes under /auth/v1/passkeys/register/*.",
        "operationId": "listAuthV1AccountPasskeys",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Active passkeys for the Bearer actor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "passkeys"
                  ],
                  "properties": {
                    "passkeys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "rp_id",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "rp_id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/account/passkeys/remove": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Remove one of the Bearer actor's passkeys",
        "description": "Machine route (apikey + user Bearer). Requires auth_time within 5 minutes, soft-deletes one actor-owned passkey, and warns rather than refuses when no Run402 password or passkey remains.",
        "operationId": "removeAuthV1AccountPasskey",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passkey_id"
                ],
                "properties": {
                  "passkey_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey removal result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "removed",
                    "warning"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "removed": {
                      "type": "boolean"
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "no_run402_password_or_passkey_remaining"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/account/identities": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "List the Bearer actor's linked OAuth identities",
        "description": "Machine route (apikey + user Bearer). Lists Run402-verified OAuth identities owned by the token's user. Pass an identity's provider_sub value as subject to the unlink route.",
        "operationId": "listAuthV1AccountIdentities",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Linked OAuth identities for the Bearer actor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "identities"
                  ],
                  "properties": {
                    "identities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "provider",
                          "provider_sub",
                          "provider_email",
                          "created_at"
                        ],
                        "properties": {
                          "provider": {
                            "type": "string"
                          },
                          "provider_sub": {
                            "type": "string"
                          },
                          "provider_email": {
                            "type": "string",
                            "format": "email",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/v1/account/identities/unlink": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Unlink one of the Bearer actor's OAuth identities",
        "description": "Machine route (apikey + user Bearer). Requires auth_time within 5 minutes. Removes the actor-owned OAuth identity selected by provider and provider subject, then revokes all browser sessions when a row was removed. The caller cannot supply a user id and a service-role token is rejected.",
        "operationId": "unlinkAuthV1AccountIdentity",
        "security": [
          {
            "apikey": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "subject"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "minLength": 1
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Provider subject id; use provider_sub from an account identity read."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity unlink result; unlinked is false when the actor owns no matching identity.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "unlinked"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "unlinked": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/account/sessions": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "List the signed-in user's browser sessions",
        "description": "Hosted browser-session (cookie) route backing the headless <AccountSecurity> component and the documented-advanced non-Astro contract. Read-only; resolves the actor from the session cookie. The caller's current session is flagged.",
        "operationId": "listAuthAccountSessions",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ sessions: [{ session_id, current, ... }] }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/account/sessions/revoke": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke one of the signed-in user's sessions",
        "description": "Hosted browser-session route (cookie + double-submit CSRF + same-origin). Revokes a single session by id, scoped to the actor (cannot revoke another user's session).",
        "operationId": "revokeAuthAccountSession",
        "security": [
          {
            "browserSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id"
                ],
                "properties": {
                  "session_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, revoked }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/account/sign-out-everywhere": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke all of the user's sessions except the current one",
        "description": "Hosted browser-session route (cookie + double-submit CSRF + same-origin). Revokes every other session; the current session is preserved.",
        "operationId": "authAccountSignOutEverywhere",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, revoked_count }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/account/password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Set or change the signed-in user's password",
        "description": "Hosted browser-session route (cookie + double-submit CSRF + same-origin). Freshness step-up: the session must have authenticated within 5 minutes else R402_AUTH_FRESHNESS_REQUIRED. new_password is at most 72 bytes. On success the user's OTHER sessions are rotated.",
        "operationId": "setAuthAccountPassword",
        "security": [
          {
            "browserSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "new_password"
                ],
                "properties": {
                  "new_password": {
                    "type": "string",
                    "maxLength": 72
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, sessions_revoked }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/account/passkeys/remove": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Remove one of the signed-in user's passkeys",
        "description": "Hosted browser-session route (cookie + double-submit CSRF + same-origin), freshness-gated (5-min step-up). User-scoped soft delete. Allow + warn: if removal leaves no Run402 password AND no remaining passkeys, the response carries a warning. To ADD a passkey use POST /auth/passkeys/register/{options,verify}.",
        "operationId": "removeAuthAccountPasskey",
        "security": [
          {
            "browserSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passkey_id"
                ],
                "properties": {
                  "passkey_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, removed, warning }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/account/identities/unlink": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Unlink a connected OAuth identity",
        "description": "Hosted browser-session route (cookie + double-submit CSRF + same-origin), freshness-gated (5-min step-up). Removes a linked OAuth identity (provider + provider subject) from the signed-in account and rotates other sessions on the change.",
        "operationId": "unlinkAuthAccountIdentity",
        "security": [
          {
            "browserSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "subject"
                ],
                "properties": {
                  "provider": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The provider's subject id (provider_sub) of the identity to unlink."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, unlinked }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/magic-link/send": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request hosted passwordless email sign-in",
        "description": "Hosted ceremony resolved by request host (no credential). delivery defaults to link; code/both returns an opaque challenge_id after accepted/captured delivery and HTML clients receive a same-tab confirmation form. Non-enumerating: acceptance never discloses whether the email maps to a user or claims provider delivery. Rate-limited per project/email/IP/tier.",
        "operationId": "hostedMagicLinkSend",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "return_to": {
                    "type": "string",
                    "description": "Relative path or same-origin URL to land on after sign-in. The hosted route continues to accept the legacy returnTo spelling for compatibility."
                  },
                  "delivery": {
                    "type": "string",
                    "enum": [
                      "link",
                      "code",
                      "both"
                    ],
                    "default": "link"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic accepted acknowledgement; code/both includes challenge_id only after accepted/captured delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-code/confirm": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Confirm a hosted email code",
        "description": "Same-origin hosted form/JSON ceremony. Resolves project, user, host, and return target from the challenge; caller-selected email, project, user, or redirect fields are rejected. Success sets the existing opaque host-only session cookie and returns 303 for forms or JSON for fetch clients.",
        "operationId": "hostedEmailCodeConfirm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "challenge_id",
                  "code"
                ],
                "properties": {
                  "challenge_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                },
                "additionalProperties": false
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "challenge_id",
                  "code"
                ],
                "properties": {
                  "challenge_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON success with redirect_to and Set-Cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "redirect_to"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "redirect_to": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "303": {
            "description": "Form success; redirects to the challenge-bound return target and sets the session cookie."
          },
          "400": {
            "description": "Malformed request or caller-selected identity/redirect field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "The well-formed code is invalid and the challenge still has attempts remaining.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The hosted request failed same-origin enforcement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "The challenge is exhausted or otherwise terminal; request a fresh email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Project, IP, or challenge verification rate limit exceeded; Retry-After is returned and no code attempt is consumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/passkeys/login/options": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Hosted WebAuthn login options",
        "description": "Hosted passkey-login ceremony, resolved by request host (no credential). Returns PublicKeyCredentialRequestOptionsJSON for navigator.credentials.get(). An email hint is accepted without exposing allowCredentials (enumeration-resistant).",
        "operationId": "hostedPasskeyLoginOptions",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WebAuthn login options.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/passkeys/login/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Hosted WebAuthn login verify (mints the session cookie)",
        "description": "Hosted passkey-login ceremony terminal. Verifies the WebAuthn assertion, mints the browser-session cookie (amr: passkey) via Set-Cookie, and returns { ok, redirect_to } for the JS client to navigate. No JWT is issued — machine clients use /auth/v1/passkeys/login/verify.",
        "operationId": "hostedPasskeyLoginVerify",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "challenge_id",
                  "response"
                ],
                "properties": {
                  "challenge_id": {
                    "type": "string"
                  },
                  "response": {
                    "type": "object"
                  },
                  "return_to": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, redirect_to } plus a Set-Cookie session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/passkeys/register/options": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Hosted WebAuthn registration options (signed-in user adds a passkey)",
        "description": "Hosted passkey-register ceremony for the cookie-authenticated actor (cookie + double-submit CSRF + same-origin). The user id is derived from the session, never the body. Returns PublicKeyCredentialCreationOptionsJSON.",
        "operationId": "hostedPasskeyRegisterOptions",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "WebAuthn registration options.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/passkeys/register/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Hosted WebAuthn registration verify (re-mints the session cookie)",
        "description": "Hosted passkey-register ceremony terminal for the cookie-authenticated actor (cookie + double-submit CSRF + same-origin). Verifies the registration, persists the passkey, and re-mints the session with amr: passkey (step-up).",
        "operationId": "hostedPasskeyRegisterVerify",
        "security": [
          {
            "browserSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "challenge_id",
                  "response"
                ],
                "properties": {
                  "challenge_id": {
                    "type": "string"
                  },
                  "response": {
                    "type": "object"
                  },
                  "label": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok } plus a Set-Cookie session (amr: passkey).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check (liveness only)",
        "description": "Unauthenticated liveness probe used by ALB and ECS. Returns 200 with `{\"status\":\"healthy\"}` when the gateway is up, 503 with `{\"status\":\"unhealthy\"}` when a critical dependency (postgres, postgrest) is down. Per-dependency state and the gateway version are intentionally NOT exposed here (GH-365); operators looking for that detail should use the admin-gated health-detail endpoint.",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Gateway is up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Gateway cannot serve requests because a critical dependency is unreachable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "unhealthy"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/storage": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Storage-health signal (credential-free)",
        "description": "Unauthenticated, ungated boolean storage probe for the off-AWS status monitor. Returns 200 with `{\"status\":\"ok\"}` when the internal object-store probe succeeds, 503 with `{\"status\":\"error\"}` otherwise. The body is boolean-only and discloses NO architecture detail (no bucket name, no `checks` map, no version) — same anti-fingerprinting posture as the slim public /health.",
        "operationId": "getHealthStorage",
        "responses": {
          "200": {
            "description": "Storage is reachable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Storage probe failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/human-identity-link-challenges/v1": {
      "post": {
        "tags": [
          "Identity Links"
        ],
        "summary": "Begin a public human Buzz/Nostr identity link",
        "operationId": "createHumanIdentityLinkChallenge",
        "description": "Requires a direct Run402 human control-plane session and a fresh passkey. Explicitly discloses that completion publicly and durably correlates the human principal with the selected Buzz/Nostr identity. Creates only a five-minute challenge: no authenticator, membership, adoption, or organization authority.",
        "security": [
          {
            "controlPlaneSession": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HumanIdentityLinkChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact idempotent challenge retry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanIdentityLinkChallenge"
                }
              }
            }
          },
          "201": {
            "description": "Five-minute public-correlation challenge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanIdentityLinkChallenge"
                }
              }
            }
          },
          "400": {
            "description": "Invalid key, disclosure, visibility, or Idempotency-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Direct human session or fresh passkey required (IDENTITY_LINK_REQUIRES_HUMAN_SESSION)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency or active Nostr-subject conflict (the conflicting principal is not disclosed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/human-identity-links/v1": {
      "post": {
        "tags": [
          "Identity Links"
        ],
        "summary": "Complete a public human identity link with Buzz consent",
        "operationId": "completeHumanIdentityLink",
        "description": "Requires the same direct human session lineage, a fresh passkey, and the exact unexpired kind-24243 event returned by the released Buzz browser callback. The resulting public link is attribution only and creates no authenticator, membership, adoption, or organization authority.",
        "security": [
          {
            "controlPlaneSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HumanIdentityLinkCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact event-id retry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkProof"
                }
              }
            }
          },
          "201": {
            "description": "Public human identity link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkProof"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or callback event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Direct human session, exact lineage, or fresh passkey required (IDENTITY_LINK_REQUIRES_HUMAN_SESSION or IDENTITY_LINK_AUTHENTICATOR_MISMATCH)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Expired, consumed, replayed, mismatched, or conflicting link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Buzz signature or exact challenge binding is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/identity-links/v1/challenges": {
      "post": {
        "tags": [
          "Identity Links"
        ],
        "summary": "Begin a permanent-public Nostr identity-link proof",
        "operationId": "createNostrIdentityLinkChallenge",
        "description": "Requires a non-delegated SIWX EOA for a live agent principal and an Idempotency-Key. Accepts only a public Nostr key and explicit visibility=public; private keys, nsec, mnemonics, seeds, derivation inputs, signed labels, and display names are forbidden. The response authors the exact RFC 8785 payload. Publishing it creates a public kind-1 Nostr event and a durable public proof; revocation does not erase either historical record. Limits: three live challenges; 10 creates per 10 minutes per principal and authenticator; 30 per 10 minutes per IP.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SiwxHeader"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityLinkChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact idempotent retry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkChallenge"
                }
              }
            }
          },
          "201": {
            "description": "Challenge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkChallenge"
                }
              }
            }
          },
          "400": {
            "description": "Strict JSON, canonicalization, public-disclosure, or Idempotency-Key failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Agent/non-delegated EOA requirement failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency, principal, or Nostr-subject conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "IDENTITY_LINK_RATE_LIMITED. Retry-After and details.retry_after_seconds are present.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Pre-launch challenge creation is disabled (IDENTITY_LINK_CAPABILITY_UNAVAILABLE)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/identity-links/v1": {
      "post": {
        "tags": [
          "Identity Links"
        ],
        "summary": "Complete a Nostr identity link with a dual-signature proof",
        "operationId": "completeNostrIdentityLink",
        "description": "Requires the exact agent principal and non-delegated SIWX EOA that created the challenge. The request body is parsed from preserved UTF-8 bytes with duplicate detection. The seven-field kind-1 event must contain the canonical two-field wrapper and either no tags or exactly one independently valid empty-condition NIP-OA owner-attestation tag. The Nostr link is public attribution only and is never authentication, authorization, ownership, payment authority, or a transfer target. Limits: five failed completions per challenge, 20 completions per 10 minutes per principal, and 60 per 10 minutes per IP.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SiwxHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityLinkCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact event-id retry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkProof"
                }
              }
            }
          },
          "201": {
            "description": "Identity link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkProof"
                }
              }
            }
          },
          "400": {
            "description": "Malformed outer JSON, duplicate/unknown field, or forbidden private-key-shaped input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Exact principal/authenticator changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Challenge expired, replay, or uniqueness conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Incomplete/noncanonical/tag-disallowed event or invalid dual proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "IDENTITY_LINK_RATE_LIMITED. Retry-After and details.retry_after_seconds are present.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Pre-launch or incident completion shutdown (IDENTITY_LINK_CAPABILITY_UNAVAILABLE)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Identity Links"
        ],
        "summary": "List the caller principal's retained identity-link history",
        "operationId": "listIdentityLinks",
        "description": "Returns active, revoked, and principal-inactive effective lifecycle state. It exposes no authenticator inventory, credential, wallet signature, or Nostr event; use the isolated public proof resource for independent verification.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SiwxHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque keyset cursor from next_cursor."
          }
        ],
        "responses": {
          "200": {
            "description": "Identity-link history page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "identity_links",
                    "next_cursor"
                  ],
                  "properties": {
                    "identity_links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkedIdentityRepresentation"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid cursor or limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/identity-links/v1/{identity_link_id}": {
      "delete": {
        "tags": [
          "Identity Links"
        ],
        "summary": "Revoke a Nostr identity link",
        "operationId": "revokeIdentityLink",
        "description": "Idempotent. Requires any current non-delegated SIWX EOA of the linked principal. Revocation is append-only lifecycle state and does not erase the public event/proof or alter project ownership/authorization. Limited to 10 revocations per hour per principal. Once any public proof exists, this recovery path cannot be disabled by the routine rollout flag.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SiwxHeader"
          },
          {
            "name": "identity_link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^idlnk_[0-9a-f]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked proof, or the original result on retry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkProof"
                }
              }
            }
          },
          "403": {
            "description": "Current qualifying EOA required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not linked to this principal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "IDENTITY_LINK_RATE_LIMITED. Retry-After and details.retry_after_seconds are present.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Pre-launch revocation capability is disabled; unavailable only while no public proof exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/identity-links/v1/admin/{identity_link_id}": {
      "delete": {
        "tags": [
          "Identity Links"
        ],
        "summary": "Platform-security revoke an identity link",
        "operationId": "securityRevokeIdentityLink",
        "description": "High-severity, audited platform-admin revocation only. It cannot create, move, or reactivate a link.",
        "security": [
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "identity_link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^idlnk_[0-9a-f]{32}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "reason_code"
                ],
                "properties": {
                  "reason_code": {
                    "type": "string",
                    "enum": [
                      "credential_compromise",
                      "security_response"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked public proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkProof"
                }
              }
            }
          },
          "400": {
            "description": "Invalid reason code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Identity link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/identity-link-proofs/v1/{identity_link_id}": {
      "get": {
        "tags": [
          "Identity Links"
        ],
        "summary": "Independently verify a public identity-link proof",
        "operationId": "getPublicIdentityLinkProof",
        "description": "Intentionally unauthenticated and authentication-invariant. Returns only immutable public proof bytes and lifecycle state. Cache-Control is no-store so revocation is visible; missing and malformed ids use the same non-revealing 404. Limited to 120 reads per minute per IP. Once any public proof exists, this route cannot be disabled by the routine rollout flag.",
        "security": [],
        "parameters": [
          {
            "name": "identity_link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^idlnk_[0-9a-f]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public proof",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityLinkProof"
                }
              }
            }
          },
          "404": {
            "description": "Proof not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "IDENTITY_LINK_RATE_LIMITED. Retry-After and details.retry_after_seconds are present.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Pre-launch public-proof capability is disabled; unavailable only while no public proof exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/whoami": {
      "get": {
        "tags": [
          "Org"
        ],
        "summary": "Resolve the caller's control-plane principal, memberships, and Buzz lifecycle state",
        "operationId": "whoami",
        "description": "SIWX, a control-plane session, or a scoped delegate bearer authenticates the caller and returns the resolved principal, active org memberships, and independent Buzz adoption/installation/enrollment eligibility and drift. A wallet and a Buzz proof are authenticators or attribution evidence, never owners by themselves. A delegate resolves to its own subject principal (typically with no memberships of its own, since a delegate acts via a project_grant rather than membership) — resolving your own identity actuates and leaks nothing beyond it, so this is delegate-capable the same way the cold-restart-recovery `POST /projects/v1/:project_id/tokens` is.",
        "security": [
          {
            "walletAuth": []
          },
          {
            "controlPlaneSession": []
          },
          {
            "delegateBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SiwxHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved principal + memberships",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "principal",
                    "active_authenticator",
                    "linked_identities",
                    "authenticator_id",
                    "memberships",
                    "buzz"
                  ],
                  "properties": {
                    "principal": {
                      "type": "object",
                      "nullable": true
                    },
                    "active_authenticator": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ActiveAuthenticatorRepresentation"
                        }
                      ],
                      "nullable": true,
                      "description": "Only the authenticator used for this request; never an authenticator inventory."
                    },
                    "linked_identities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkedIdentityRepresentation"
                      },
                      "description": "Current public attribution links. These do not authorize or own resources."
                    },
                    "authenticator_id": {
                      "type": "string",
                      "nullable": true,
                      "description": "Legacy sibling retained unchanged; equals active_authenticator.authenticator_id when present."
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "org_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "display_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "owner",
                              "admin",
                              "developer",
                              "billing",
                              "viewer"
                            ]
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "buzz": {
                      "$ref": "#/components/schemas/BuzzPrincipalStatus",
                      "description": "Four independent lifecycle surfaces. Skill installation remains client-managed and inert; no Buzz proof is converted into Run402 authority."
                    },
                    "encryption_key": {
                      "type": "object",
                      "nullable": true,
                      "description": "gitvault-agent-envelopes D3: the principal's CURRENT gitvault directory key (pending or active) — metadata only, never key material. `null` = none published; the SDK's enroll-if-absent step keys off this.",
                      "properties": {
                        "encryption_key_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "ek_fingerprint": {
                          "type": "string"
                        },
                        "custody_scheme": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "active"
                          ]
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "signing_fingerprint": {
                          "type": "string",
                          "nullable": true,
                          "description": "gitvault-multi-writer rev 47. The principal's OPTIONAL vault-writer signing half — `vk_<32 hex>`, or `null` if never published. Never the raw `signing_pubkey`, mirroring this endpoint's existing encryption-half minimalism."
                        },
                        "signing_possession_verified_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "gitvault-multi-writer rev 47. When `signing_fingerprint`'s `possession_signature` was verified; `null` alongside a `null` `signing_fingerprint`."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1/lightning-wallet": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Mint the caller's Lightning wallet (the Lightning allowance)",
        "operationId": "mintAgentLightningWallet",
        "description": "Asks the platform for one budgeted, isolated Lightning sub-wallet on Run402's own Hub for the calling agent principal (`run402 init lightning`). Idempotent per principal: a live wallet is returned as is and nothing is minted twice. The platform-side broker mints the sub-wallet, so the first call usually answers `202` with `status: \"minting\"`; poll `GET /agent/v1/lightning-wallet`. The one response that first observes the wallet `active` carries `pairing` (the NWC pairing URI, a bearer secret shown exactly once and never recoverable); every later response reports `has_pairing` only. Custody is the platform Hub (`custody: \"run402_hub\"`): the sats sit on Run402's Hub and the agent holds a budgeted connection. `budget_sats` is the platform-set spending cap and `starter_sats` the amount the platform funded at mint.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SiwxHeader"
          }
        ],
        "responses": {
          "201": {
            "description": "The wallet is active and this response hands out the pairing secret, exactly once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentLightningWallet"
                }
              }
            }
          },
          "200": {
            "description": "The wallet exists (replay); no pairing is included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentLightningWallet"
                }
              }
            }
          },
          "202": {
            "description": "The platform is minting the wallet; poll the GET route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentLightningWallet"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "description": "`LIGHTNING_WALLET_NOT_AVAILABLE` — the platform Hub is not configured or not ready; pay over x402 from the Base allowance meanwhile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Read the caller's Lightning wallet",
        "operationId": "getAgentLightningWallet",
        "description": "The wallet's public facts. `202` while it is still minting. The first read of an active wallet whose pairing was never handed out answers `201` with `pairing` (once); later reads answer `200` with `has_pairing: true` and no secret.",
        "security": [
          {
            "walletAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SiwxHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "The wallet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentLightningWallet"
                }
              }
            }
          },
          "201": {
            "description": "The wallet, carrying the pairing secret exactly once.",
            "content": {
              "application/json": {
                "schema": {
[...]
